.filter-box-inputs {
    background-color: inherit;
    padding: 0;
}

.filter-box-inputs .form-select {
    height: 60px;
}

.filter-buttons .filter-btn {
    padding: 10px 20px;
    background-color: var(--third-color);
}

.filter-buttons .filter-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}


.price-range-container h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: normal;
}
.slider-wrapper {
    position: relative;
    width: 100%;
    height: 20px;
}

.slider-track {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    z-index: 1;
}

input[type="range"] {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    pointer-events: none;
    z-index: 2;
    width: 55%;
}

#maxRange{
    left: unset;
    right: 0;
}

.arabic-version #maxRange{
    left: 0;
    right: unset;
}

#minRange {
    left: 0;
    right: unset;
}

.arabic-version #minRange{
    left: unset;
    right: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #381c48;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #381c48;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
}

.price-values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
}

.price-range-container input {
    border: 0;
}

.select-all p {
    font-size: 20px !important;
}

.filter-buttons-container {
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
}

.filter-buttons-container .view-all-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-inline: 4rem;
}

.filter-buttons-section ul {
    padding: 1.5rem;
    gap: 20px;
    justify-content: center;
}

.filter-buttons-section ul li {
    list-style: disc;
    font-weight: 400;
    padding-inline-end: 1rem;
}

.filter-buttons-section ul li::marker {
    font-size: 20px;
    color: #000;
}

.wishlist-btn {
    margin-inline-start: 1.5rem;
}

.rent-car-label span {
    font-size: 14px;
    font-weight: normal;

}

.rent-car-label {
    height: 31px;
    display: flex;
    align-items: center;

}

.rent-car-labels {
    flex-wrap: wrap;
}

@media (min-width: 1201px) {

    .filter-btn-mobile,
    .close-btn {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .filter-container {
        padding: 10px;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 99999;
        transition: .5s;
        transform: translateX(-100%);
    }

    .filter-container.show {
        transform: translateX(0);
    }

    .close-btn {
        position: absolute;
        inset-inline-end: 5%;
        color: var(--primary-color);
    }

    .filter-btn-mobile {
        background-color: var(--third-color);
        padding: 10px;
        position: fixed;
        bottom: 1%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--primary-color);
    }
}