.map-box h5{
    font-size: 0.55rem;
}

.choose-fav-car-brand-slider .slick-slide, .choose-fav-car-brand-slider .slick-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose-fav-car-type-slider .slick-slide img, .choose-fav-car-brand-slider .slick-slide img{
    height: 150px !important;
    width: 300px !important;
    object-fit: contain;
}

.car-type-brand-slide img{
    object-fit: contain;
}

.blog-card-content img{
    height: 500px !important;
}

.rental-details-container .account-settings-card-main-picture{
    height: 100%;
}
.rental-details-container .account-settings-card-main-picture img{
    height: 100%;
    object-fit: cover;
}


