.map-box h5{
    font-size: 0.55rem;
}

.choose-fav-car-brand-slider .slick-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose-fav-car-type-slider .slick-slide img{
    height: 150px !important;
    width: 300px !important;
    object-fit: contain;
}

.car-type-brand-slide img{
    object-fit: contain;
}