.map-box h5{
    font-size: 0.55rem;
}

.choose-fav-car-brand-slider .slick-slide, .choose-fav-car-brand-slider .slick-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose-fav-car-type-slider .slick-slide img, .choose-fav-car-brand-slider .slick-slide img{
    height: 150px !important;
    width: 300px !important;
    object-fit: contain;
}

.car-type-brand-slide img{
    object-fit: contain;
}

.blog-card-content img{
    height: 500px !important;
}

.rental-details-container .account-settings-card-main-picture{
    height: 100%;
}
.rental-details-container .account-settings-card-main-picture img{
    height: 100%;
    object-fit: cover;
}


.price-range-container {
    width: 100%;
    margin: 20px 0;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 6px;
}

.slider-track {
    position: absolute;
    height: 6px;
    background: #ddd;
    width: 100%;
    border-radius: 3px;
    z-index: 1;
}

input[type="range"] {
    position: absolute;
    width: 100%;
    height: 6px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    direction: ltr !important; /* force LTR drag */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3b0a45;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 3;
}

input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3b0a45;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 3;
}

.price-values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
    color: #3b0a45;
}