.web-privacy-terms-and-condition-content{
    background-image: url(../assets/images/about_bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}